<%- include('../partials/header.ejs') %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">apps Title</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the apps Title"
                    name="Name" 
                    value="<%= apps.Name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Author</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter the apps's Author"
                    name="Author" 
                    value="<%= apps.Author %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Year</label>
                    <input type="text" class="form-control"
                    id="publishedTextField"
                    placeholder="Enter the Year of Publication"
                    name="Published" 
                    value="<%= apps.Published %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea">Description</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the a brief description of the apps"
                    name="Description" 
                    required>
                    <%= apps.Description %>
                    </textarea>
                </div>

                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter the apps's Price"
                    name="Price" 
                    value="<%= apps.Price %>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/appslist" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div> 

<%- include('../partials/footer.ejs') %>