<%- include('../partials/header.ejs') %>

<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <a href="/appslist/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add apps
            </a>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Author</th>
                    <th class="text-center col-1">Published</th>
                    <th class="text-center col-2">Price</th>
                    <th class="text-center col-3">Description</th>
                    <th class="text-center col-1">Action</th>
                </tr>
                <% for(let count = 0; count < appsList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= appsList[count].Name %></td>
                        <td class="text-center col-2"><%= appsList[count].Author %></td>
                        <td class="text-center col-1"><%= appsList[count].Published %></td>
                        <td class="text-center col-2"><%= appsList[count].Price %></td>
                        <td class="text-center col-3"><%= appsList[count].Description %></td>
                        <td class="text-center col-1">
                            <a href="/appslist/edit/<%= appsList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit
                            </a> 
                        </td>
                        <td class="text-center col-1">
                            <a href="/appslist/delete/<%= appsList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete
                            </a> 
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>
