<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/content/app.css' />
  <link rel='stylesheet' href='/node_modules/bootstrap-icons/font/bootstrap-icons.css' />
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
</head>
<body>
<nav class="navbar navbar-expand-lg header-navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand">Tariq Ahmed</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link<%= title == 'Home' ? ' active' : '' %>" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<%= title == 'About Me' ? ' active' : '' %>" href="/aboutme"><i class="fa-solid fa-address-card"></i> About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<%= title == 'Projects' ? ' active' : '' %>" href="/projects"><i class="fa-solid fa-code"></i> Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link<%= title == 'My Apps List' ? ' active' : '' %>" href="/applist"><i class="fa-solid fa-book"></i> My App List</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>

